body {
    background-image: url(img/dynamic-style.png);
}
.form-modal {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 3px solid #e0e0e0;
    background-image: url(img/bg-modal.png);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    z-index: 9999;
}
.btn-modal {
    width: 200px;
    height: 25px;
    background: grey;
    border: grey;
    border-radius: 3px;
    color: white;
    text-align: center;
    cursor: pointer;
    
}
input {
    display: block;
    margin: 5px 0;
}
.close {
    display: block;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #d8d7d7;
    cursor: pointer;
}
.active {
    display: none;
}
.header {
    display: flex;
    height: 80px;
    background-color: #6557b9;
}
.knopka01 {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    background: #4c12a0 radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: #e0d0ec;
    outline: none;
}
.knopka01:hover {
    cursor: pointer;
}
.knopka01:active {
    padding-bottom: 1px;
    box-shadow:
            inset rgba(0,0,0,1) 0 1px 3px,
            inset rgba(0,0,0,.6) 0 -2px 5px,
            inset rgba(252,255,255,.7) 0 2px 5px,
            0 1px rgba(255,255,255,.08);
    color: white;
}
.fas {
    color: white;
    font-size: 55px;
}
.fa-heartbeat{
    position: absolute;
    top:15px;
    left:40px;
}
.cardProperties {
    width: 150px;
    height: 150px;
    opacity: 0.6;
    background: #8500ff;
    margin: 50px auto auto 50px;
    border: 1px solid lightblue;
    display: inline-block;
    
}
.cardio {
    display: none;
}
.dent {
    display: none;
}
.therap {
    display: none;
}

p {
    color: white;
    text-transform: uppercase;
    margin: 10px;
}
.another-button, .delete {
    border-radius: 10px;
    color: black;
    background-color: #dbd622;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    width: 80px;
    text-align: center;
    margin: 10px auto; 
    
}


